apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - rbac.yaml
  - deployment.yaml
  - service.yaml

images:
  - name: kubernetes-dashboard
    newName: ghcr.io/kubernetes-dashboard/kubernetes-dashboard
    newTag: latest
